{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}" />
    <script type='text/javascript' src="{% static 'scripts/jquery-3.min.js' %}" > </script>
    <script type='text/javascript' src="{% static 'bootstrap3/js/bootstrap.min.js' %}" > </script>
    
    <title> {% block title %} Data Panel {% endblock title %}</title>
    
    {% block head_plus %}
    
    {% endblock head_plus %}

</head>

<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'data:list_city' %}">Cities</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'data:list_city_not_found' %}">Cities Not Found</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="{% url 'data:data_form' ''%}">New Data</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





<div id="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% block flash_messages %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{message.message}}
                            </div>
                        {% elif message.level_tag == 'debug' %}
                            <div class="alert alert-warning django-debug alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{message.message}}
                            </div>
                        {% else %}
                            <div class="alert alert-{{message.level_tag}} alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{message.message}}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endblock flash_messages %}

        </div>

    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>

    {% block body_end_plus %}
        
    {% endblock body_end_plus %}
</body>
</html>

